html {
  direction: rtl;
  font-family: "Noto Sans Arabic", sans-serif;
  font-weight: 400;
  background-color: var(--tone-0);

  @media screen and (prefers-color-scheme: dark) {
    background-color: var(--tone-9);
  }

  body {
    margin: 0;
    box-sizing: border-box;

    nav {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      padding-block: 0.5rem;
      font-size: large;
      background-color: color-mix(in srgb, var(--tone-1) 75%, transparent);
      border-block-end: 1px solid var(--tone-2);
      backdrop-filter: blur(4px);
      position: sticky;
      top: 0;
      z-index: 2;

      @media screen and (prefers-color-scheme: dark) {
        background-color: color-mix(in srgb, var(--tone-8) 75%, transparent);
        border-block-end: 1px solid var(--tone-7);
      }

      a {
        padding-inline: 1rem 2rem;
        border-radius: 0.25rem;
        position: relative;
        background-color: transparent;
        transition: all 200ms ease;

        &:hover {
          background-color: var(--tone-2);

          @media screen and (prefers-color-scheme: dark) {
            background-color: var(--tone-7);
          }

          i {
            scale: 0.85;
            rotate: 0deg;
            opacity: 1;
          }
        }

        i {
          color: currentColor;
        }

        i {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0.5rem;
          font-size: larger;
          scale: 0.5;
          rotate: 30deg;
          opacity: 0;
          transition: all 200ms ease;
        }
      }
    }

    header {
      block-size: calc(100dvh - 55px);
      display: grid;
      grid-template: 1fr / 1fr;
      place-items: center;
      overflow: hidden;

      &>* {
        grid-column: 1;
        grid-row: 1;
      }

      img {
        inline-size: 100%;
        block-size: calc(100dvh - 55px);
        object-fit: cover;
        z-index: -1;

        @media screen and (prefers-color-scheme: dark) {
          filter: brightness(0.75);
        }
      }

      h2 {
        margin: 0;
        font-size: 4rem;
        text-align: center;
        color: var(--tone-1);
        opacity: 0.8;
        mix-blend-mode: overlay;
        text-shadow: 0px 1px 2px black;
        margin-block-end: 2rem;
      }

      time {
        margin-block-start: 7rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--tone-0);
        opacity: 0.9;
        mix-blend-mode: overlay;
        text-shadow: 0px 1px 1px black;
      }
    }
  }
}